{% extends "base.html" %}


    {% block content %}
        {%for game in Games%}
        <div class="card" style="width: 18rem;">
            <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.name }}">
            <div class="card-body">
              <h5 class="card-title">{{game.name}}</h5>
              <p class="card-text">{{game.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{game.price}}</li>
              <li class="list-group-item">{{game.created_at}}</li>
            </ul>  
            <div class="card-body">
            <button type="button" class="btn btn-primary"><a href="{% url 'Gamepage' game.id %}" style = "color :goldenrod">  {{game.name}} </a></button>
            </div>
          </div>
        {% endfor %}
    {% endblock content %}