{% extends 'base.html'%}
    {% block content %}

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          {% if game_d.image %}
            <img src="{{ game_d.image.url }}" class="img-fluid rounded-start" alt="{{ game_d.name }}">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{game_d.name}}</h5>
            <p class="card-text">{{game_d.description}}</p>
            <p class="card-text"><small class="text-body-secondary"> {{game_d.created_at}} </small></p>
            <p class="card-text"><small class="text-body-secondary"> {{game_d.updated_at}} </small></p>
            <a href="{% url 'Gameedit' game_d.id %}"><button type="button" class="btn btn-warning">edit</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}