body{
  background: rgb(0, 0, 0) !important;
  direction: rtl !important;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.newclass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}


.navbar-custom {
  background-color: hsl(54, 96%, 38%); /* orange color */
}
